@use '../styles/helpers' as *;

.button {
    @include reset-button;

    @include hover {
        color: var(--color-dark);
        background-color: transparent;
    }

    &--border-5 {
        color: var(--color-light);
        font-size: rem(18);
        font-weight: 400;
        padding-inline: calc(rem(28) - rem(1));
        padding-block: calc(rem(15) - rem(1));
        background-color: var(--color-accent);
        border-radius: rem(5);
        border: rem(1) solid var(--color-accent);
    }

    &--border-2 {
        color: var(--color-light);
        font-size: rem(15);
        font-weight: 400;
        padding-inline: calc(rem(13) - rem(1));
        padding-block: calc(rem(7) - rem(1));
        background-color: var(--color-accent);
        border-radius: rem(2);
        border: rem(1) solid var(--color-accent);
    }

    &--border-70 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        column-gap: rem(8);
        text-align: center;
        background: var(--color-accent);
        color: var(--color-light);
        font-size: rem(20);
        font-weight: 500;
        line-height: rem(30);
        letter-spacing: 0%;
        padding-inline: calc(rem(35) - rem(1));
        padding-block: calc(rem(15) - rem(1));
        border-radius: rem(70);
        border: rem(1) solid var(--color-accent);

        @include  hover {
            color: var(--color-accent);

            svg * {
                fill: var(--color-accent);
            }
        }
    }

    &--category {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: rem(8);
        width: rem(210);
        padding-block: rem(13);
        border-radius: rem(8);
        background: var(--color-light);
        font-size: rem(20);

        &.is-active {
            color: var(--color-light);
            background: var(--color-accent);

            svg * {
                fill: var(--color-light);
            }
        }
        @include  hover {
            color: var(--color-light);
            background: var(--color-accent);

            svg * {
                fill: var(--color-light);
            }
        }
    }

    &--rb-border-0 {
        color: var(--color-light);
        font-size: rem(20);
        font-weight: 400;
        padding-inline: calc(rem(44) - rem(1));
        padding-block: calc(rem(17) - rem(1));
        background-color: var(--color-accent);
        border-radius: rem(30);
        border-bottom-right-radius: rem(0);
        border: rem(1) solid var(--color-accent);
    }
}