@use '../styles/helpers' as *;

.form-subscribe {
  position: relative;

  &__input {
    width: 100%;
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(rem(0) - rem(-10));
  }
}